<mat-card class="auth_container animate__animated animate__fadeIn">
    <mat-card-header>
      <mat-card-title style="text-align: center;" class="auth_title">Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="auth_form" [formGroup]="changeForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="password.invalid">{{ getErrorMessage( password ) }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword">
                <mat-error *ngIf="confirmPassword.invalid">{{ getErrorMessage( confirmPassword ) }}</mat-error>
            </mat-form-field>
            <div class="auth_form_actions">
                <button type="submit" [disabled]="changeForm.invalid || (loading$ | async)" mat-raised-button color="primary" >
                    <mat-icon *ngIf="loading$ | async" style="padding: 5px;"><mat-spinner diameter="20">
                    </mat-spinner></mat-icon> Send
                </button>
                <button [routerLink]="['/login']" type="button" mat-raised-button>Back</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>