<mat-card class="auth_container animate__animated animate__fadeIn">
    <mat-card-header>
        <mat-card-title style="text-align: center;" class="auth_title">Forgot
            Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="auth_form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email">
                <mat-error *ngIf="email.invalid">{{ getErrorMessage( email ) }}</mat-error>
            </mat-form-field>
            <div class="auth_form_actions">
                <button (click)="sendEmail()" [disabled]="email.invalid ||
                    (loading$ | async)" mat-raised-button color="primary">
                    <mat-icon *ngIf="loading$ | async" style="padding: 5px;"><mat-spinner
                            diameter="20">
                        </mat-spinner></mat-icon> Send
                </button>
                <button [routerLink]="['/login']" type="button"
                    mat-raised-button>Back</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>